.search-form__label_big::after {
  background-image: url(/src/images/Search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  width: 19px;
  top: 25px;
  left: 26px;
}
